include ./sampleImages.jade
include ./sampleVideos.jade

mixin sampleInput(className, bundle, classifierId)
  - var sampleVideos = []
  - sampleVideos.push('sample_videos/avengersageofultron-tlr2_h480p.mov')
  - sampleVideos.push('sample_videos/fantasticfour-tlr2_h480p.mov')
  - sampleVideos.push('sample_videos/furious7-tlr5_h480p.mov')
  - sampleVideos.push('sample_videos/underworld-blood-wars-trailer-2_h480p.mov')
  - sampleVideos.push('sample_videos/madmax-tlr3_h480p.mov')
  - sampleVideos.push('sample_videos/missionimpossibleroguenation-us-tlr1_h480p.mov')



  form(id='#{className}--fileupload', class='#{className}--form #{className}--dropzone hideload', data-upload-template-id='template-upload-#{className}')

    div(class='#{className}--url')
      div(class='#{className}--invalid-url display-none') Invalid URL
      div(class='#{className}--invalid-image-url display-none') The URL must end with .JPG, .GIF, or .PNG.
      input(class='#{className}--url-input base--input', type='hidden', placeholder='Or paste an image URL', name='url')
      input(class='#{className}--image-data-input base--input', type='hidden', name='image_data')
    
    div(class='#{className}--example-images #{className}--example-images_default')
      +sampleVideos(sampleVideos, className, 'default')

